GOOGLE_API_KEY= xxxxxxxxxxxxxxC1b3Pc  // Gemini API key, replace with the actual key
GEMINI_MODEL=gemini-3-flash-preview   // Gemini model to use, can be changed to other models if needed
PORT= 3001                            // Port number for the server to listen on
DB_PATH=./data/receipts.db
